<!DOCTYPE html>
<html>
    <head>
        <title>LetsXchange Profile</title>
        <link rel="icon" type="image/x-icon" href="../assets/ico/favicon.ico">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <link href="../css/profile.css" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />
        
        <script src="../js/jquery-3.4.1.js"></script>
        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>
      
    </head>
    <body>

        <header>
            {{#if data.auth}}
                {{> headerAuth}}
            {{else}}
                {{> header}}     
            {{/if}}
        </header>

        <main role="main">

            {{#if data.msg}}
                <span class='msg'>{{data.msg}}</span>
            {{/if}}
            
            <div class="time-greet">
                <h1 id="time-greet" style="display: inline-block"></h1>
                {{#if data.user}}
                    {{#if data.userData.forename}}
                        <h1 style="display: inline-block">, {{data.userData.forename}}!</h1>
                    {{else}}
                        <h1 style="display: inline-block">, {{data.userData.user}}!</h1>
                    {{/if}}
                {{/if}}
            </div>
            
            <!-- PROFILE -->
            <div id="profile-details">

                <!-- PROFILE EDIT -->
                <div class="edit-profile">

                    <!-- AVATAR (with margin-bottom) -->
                    <!-- img class="avatar" src="../assets/public/avatars/{{data.userData.user}}.png" alt="Image not found" onerror="this.onerror=null;this.src='../assets/image/default_avatar.png';" /> -->
                    <div class="profile-block">
                        <!-- default src is an image with the username as filename and .png format -->
                        <!-- if not found, the src points to the default avatar -->
                        <input type="image" class="avatar" onclick="editField(this)" name="avatar"
                            src="../assets/public/avatars/{{data.userData.user}}.png" alt="Image not found" 
                            onerror="this.onerror=null;this.src='../assets/image/default_avatar.png';" />
                        <!-- enctype="multipart/form-data" this value is required when you are using forms that have a file upload control
                        enctype = encoding type -->
                        <form action="/edit-avatar" method="post" enctype="multipart/form-data" id="avatar-form" hidden style="margin-bottom: 20px;">
                            <input type="file" name="avatar" required>
                            <input type="submit" value="Upload avatar">
                        </form>
                    </div>


                    <!-- USERNAME -->
                    <div class="profile-block">
                        <span class="category">Username: </span> <span class="value" id="profile-username">{{data.userData.user}}</span>
                        <button class="edit" onclick="editField(this)" name="username">Edit</button>
                        <form action="/edit-username" method="post" id="username-form" hidden>
                            <input type="text" name="name" placeholder="Enter new username.." required minlength="3" maxlength="16">
                            <input type="submit" value="Update username">
                        </form>
                    </div>


                    <!-- EMAIL -->
                    <div class="profile-block">
                        <span class="category">Email: </span> <span class="value" id="email">{{data.userData.email}}</span>
                        <button class="edit" onclick="editField(this)" name="email">Edit</button>
                        <form action="/edit-email" method="post" id="email-form" hidden>
                            <input type="text" name="email" placeholder="Enter new email.." required>
                            <input type="submit" value="Update email">
                        </form>
                    </div>

                    <!-- NAME -->
                    <div class="profile-block">
                        <span class="category">Name: </span> <span class="value">{{data.userData.forename}} {{data.userData.surname}}</span>
                        <button class="edit" onclick="editField(this)" name="realname">Edit</button>
                        <form action="/edit-realname" method="post" id="realname-form" hidden>
                            <input type="text" name="forename" placeholder="First name.." required minlength="2" maxlength="32">
                            <input type="text" name="surname" placeholder="Surname (family name).." required minlength="2" maxlength="32">
                            <input type="submit" value="Update name">
                        </form>
                    </div>

                    <!-- COUNTRY -->
                    <div class="profile-block">
                        <span class="category">Country: </span> <span class="value">{{data.userData.country}}</span>
                        <button class="edit" onclick="editField(this)" name="country">Edit</button>
                        <form action="/edit-country" method="post" id="country-form" hidden>
                            <select name="countries" class="countries loadjson" required>
                                <option disabled selected value> Choose country </option>
                            </select>
                            <input type="submit" value="Update country">
                        </form>
                    </div>

                    <!-- CONTACT NUMBER -->
                    <div class="profile-block">
                        <span class="category">Mobile: </span> <span class="value">{{data.userData.mobile}}</span>
                        <button class="edit" onclick="editField(this)" name="mobile">Edit</button>
                        <form action="/edit-mobile" method="post" id="mobile-form" hidden>
                            <input type="number" name="mobile" placeholder="Enter new contact number.." required>
                            <input type="submit" value="Update mobile number">
                        </form>
                    </div>

                    <!-- GENDER -->
                    <div class="profile-block">
                        <span class="category">Gender: </span> <span class="value">{{data.userData.gender}}</span>
                        <button class="edit" onclick="editField(this)" name="gender">Edit</button>
                        <form action="/edit-gender" method="post" id="gender-form" hidden>
                            <select name="gender" required>
                                <option disabled selected value> -- select an option -- </option>
                                <option value='Male'>Male</option>
                                <option value='Female'>Female</option>
                                <option value='Not specified'>Not specified</option>
                            </select>
                            <input type="submit" value="Save">
                        </form>
                    </div>

                    <!-- PASSWORD -->
                    <div class="profile-block">
                        <button class="edit" onclick="editField(this)" name="pass" id="pass-form-button">Change password</button>
                        <form action="/edit-pass" method="post" id="pass-form" hidden>
                            <input type="password" name="pass" placeholder="Enter current password.." required>
                            <input type="password" name="passNew" id="password" placeholder="Enter new password.." required minlength="3" maxlength="100">
                            <input type="password" name="passNewConfirm" id="confirm_password" placeholder="Confirm new password.." required minlength="3" maxlength="100">
                            <input type="submit" value="Change password">
                        </form>
                    </div>

                    <!-- ADVANCED -->
                    <div class="profile-block">
                        <button onclick="editField(this)" name="advanced" id="advanced-form-button">Advanced</button>
                        <form action="/delete-user" method="post" id="advanced-form" hidden onsubmit="return confirm('All of your information and listings will be lost.\nThis action is irreversible.\nDo you really want to delete your account? ');">
                            <h1 class="bigtext">Delete account</h1>
                            <p>Warning! This action will delete all data and listings associated with this account.</p>
                            <p>This action is irreversible.</p>
                            <p>If you still wish to proceed, please verify your credentials below then click the confirm button.</p>
                            <input type="text" id="account-delete-user-check" name="username" placeholder="Enter username to proceed.." required>
                            <input type="password" name="pass" placeholder="Verify password.." required>
                            <div id="check">
                                <input type="checkbox" name="check" required />
                                <label for="check">I understand all my data, including listings, will be lost.</label>
                            </div>
                            <input type="submit" value="Confirm Delete" class="red">
                        </form>
                    </div>

                </div>

            </div>

        </main>

        <footer>
            {{> footer}}
        </footer>
        <!-- scripts -->
        <script src="../js/time-greeting.js"></script>
        <script>
            function editField(button) {
                const form = document.getElementById(button.name + '-form');
                if (form.hasAttribute('hidden')) {
                    form.removeAttribute('hidden');
                    button.innerHTML='Cancel';
                } else {
                    form.setAttribute('hidden', true);
                    if (button.name == 'pass') {
                        button.innerHTML='Change password';
                    } else if (button.name == 'advanced') {
                        button.innerHTML='Advanced';
                    } else {
                        button.innerHTML='Edit';
                    }
                }
            }
        </script> 

        <!-- PASSWORD MATCH CHECK -->
        <script language='javascript' type='text/javascript'>
            var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

            function validatePassword(){
                if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            //onchange event - when the value of an element has been changed
            password.onchange = validatePassword;
            //onkeyup event - when keyboard button is released
            confirm_password.onkeyup = validatePassword;
        </script>

        <!-- USERNAME MATCH CHECK FOR ADVANCED -->
        <script language='javascript' type='text/javascript'>
            var userfield = document.getElementById("account-delete-user-check")
            , username = document.getElementById("profile-username").innerHTML
            
            function validateField(){
                if(userfield.value != username) {
                    userfield.setCustomValidity("Username Doesn't Match");
                } else {
                    userfield.setCustomValidity('');
                }
            }

            //onchange event - when the value of an element has been changed
            userfield.onchange = validateField;
            //onkeyup event - when keyboard button is released
            userfield.onkeyup = validateField;
        </script>
        <script>
            $.getScript('../js/populate-select.js');
        </script>
    </body>
</html>