<!DOCTYPE html>
<html>
    <head>
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <link href="../css/profile.css" rel="stylesheet" type="text/css" />
        <link href="../css/framework/960gs/css/960_12_col.css" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />
        <title>LetsXchange Profile</title>
        <link rel="icon" href="/assets/ico/favicon.ico">
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>
      
    </head>
    <body>

        <header>
            {{#if auth}}
                <script>
                    $("header:first-of-type").load("./pages/common/header-auth.handlebars");
                </script> 
            {{else}}
            <script>
                $("header:first-of-type").load("./pages/common/header.handlebars");
            </script>     
            {{/if}}
        </header>

        <main role="main">

            <div class="time-greet">
                <h1 id="time-greet" style="display: inline-block"></h1>
                {{#if user}}
                    <h1 style="display: inline-block">, {{user}}!</h1>
                {{/if}}
            </div>

            <div id="profile-details">
                
                <div id="current">
                    <h3 style="margin: 0; text-align: center; text-decoration: underline;">Profile info</h3>
                </div>

                <form action="/update-profile" enctype="multipart/form-data" method="post">
                    <fieldset>
                        <h3 style="margin: 0; text-align: center; text-decoration: underline;">Edit profile</h3>
                        <label>Username: <br>
                            <input type="text" name="user" required="required" /></label><br>
                        <label>Email: <br>
                            <input type="text" name="email" required="required"/></label><br>
                        <label>Mobile: <br>
                            <input type="text" name="mobile" /></label><br> 

                        <label for="gender">Gender: <br></label>
                            <input id="male" type="radio" name="gender" value="m" />
                        <label for="male">Male</label>
                            <input id="female" type="radio" name="gender" value="f" />
                        <label for="female">Female</label>
                            <input id="special" type="radio" name="gender" value="n" />
                        <label for="special">Not specified</label><br>
                        <p>Nationality: <br /><select name="country">
                            {{#each countries}}
                            <option value="{{this.code}}">{{this.name}} - {{this.code}}</option>
                            {{/each}}
                        </select></p>
                        <p>Profile Picture:<br /><input type="file" name="avatar"></p>
                        <p style="text-align: center;"><input type="submit" value="Update"></p>
                    </fieldset>
                </form>
            </div>
        </main>

        <footer>
            <script>
                $("footer:last-of-type").load("./pages/common/footer.handlebars");
            </script>
        </footer>
        <!-- scripts -->
         <script src="../js/time-greeting.js"></script>
    </body>
</html>