<!DOCTYPE html>
<html>
    <head>
        <title>LetsXchange Profile</title>
        <link rel="icon" type="image/x-icon" href="../assets/ico/favicon.ico">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link href="../css/styles.css" rel="stylesheet" type="text/css" />
        <link href="../css/profile.css" rel="stylesheet" type="text/css" />
        <link href="../css/framework/960gs/css/960_12_col.css" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" type="text/css" href="../assets/svg/fontawesome-free-5.11.2-web/css/all.css" />
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <!-- sets nav active element by checkling page url -->
        <script src="../js/nav-active-page.js"></script>
      
    </head>
    <body>

        <header>
            {{#if auth}}
                <script>
                    $("header:first-of-type").load("./pages/common/header-auth.handlebars");
                </script> 
            {{else}}
            <script>
                $("header:first-of-type").load("./pages/common/header.handlebars");
            </script>     
            {{/if}}
        </header>

        <main role="main">

            {{#if msg}}
                <span class='msg'>{{msg}}</span>
            {{/if}}
            
            <div class="time-greet">
                <h1 id="time-greet" style="display: inline-block"></h1>
                {{#if user}}
                    <h1 style="display: inline-block">, {{user}}!</h1>
                {{/if}}
            </div>

            <!-- PROFILE -->
            <div id="profile-details">

                <!-- PROFILE EDIT -->
                <div class="edit-profile">
                    <span class="bigtext" style="margin-bottom: 20px;">Edit Profile</span>

                    <!-- USERNAME -->
                    <div class="profile-block">
                        <span class="category">Username: </span> <span class="value">{{userData.user}}</span>
                        <button class="edit" onclick="editField(this)" name="username">Edit</button>
                        <form action="/edit-username" method="post" id="username-form" hidden>
                            <input type="text" name="name" placeholder="Enter new username.." required>
                            <input type="submit" value="Update username">
                        </form>
                    </div>


                    <!-- EMAIL -->
                    <div class="profile-block">
                        <span class="category">Email: </span> <span class="value" id="email">{{userData.email}}</span>
                        <button class="edit" onclick="editField(this)" name="email">Edit</button>
                        <form action="/edit-email" method="post" id="email-form" hidden>
                            <input type="text" name="name" placeholder="Enter new email.." required>
                            <input type="submit" value="Update email">
                        </form>
                    </div>

                    <!-- NAME -->
                    <div class="profile-block">
                        <span class="category">Name: </span> <span class="value">{{userData.forename}} {{userData.surname}}</span>
                        <button class="edit" onclick="editField(this)" name="realname">Edit</button>
                        <form action="/edit-realname" method="post" id="realname-form" hidden>
                            <input type="text" name="forename" placeholder="First and middle names.." required>
                            <input type="text" name="surname" placeholder="Surname.." required>
                            <input type="submit" value="Update name">
                        </form>
                    </div>

                    <!-- COUNTRY -->
                    <div class="profile-block">
                        <span class="category">Country: </span> <span class="value">{{userData.country}}</span>
                        <button class="edit" onclick="editField(this)" name="country">Edit</button>
                        <form action="/edit-username" method="post" id="country-form" hidden>
                            <input type="text" name="name" placeholder="Enter new username.." required>
                            <input type="submit" value="Update country">
                        </form>
                    </div>

                    <!-- PASSWORD -->
                    <div class="profile-block">
                        <button class="edit" onclick="editField(this)" name="pass" id="pass-form-button">Change password</button>
                        <form action="/edit-pass" method="post" id="pass-form" hidden>
                            <input type="text" name="old_pass" placeholder="Enter current password.." required>
                            <input type="text" name="new_pass" placeholder="Enter new password.." required>
                            <input type="text" name="new_pass_confirm" placeholder="Confirm new password.." required>
                            <input type="submit" value="Change password">
                        </form>
                    </div>

                </div>

            </div>
            <p>Nationality: <br /><select name="country">
                <option disabled selected value> -- select an option -- </option>
                {{#each countries}}
                <option value="{{this.code}}">{{this.name}} - {{this.code}}</option>
                {{/each}}
                <option value=''>N/A (other - not listed)</option>
            </select></p>

        </main>

        <footer>
            <script>
                $("footer:last-of-type").load("./pages/common/footer.handlebars");
            </script>
        </footer>
        <!-- scripts -->
        <script src="../js/time-greeting.js"></script>
        <script>
            function editField(button) {
                const form = document.getElementById(button.name + '-form');
                if (form.hasAttribute('hidden')) {
                    form.removeAttribute('hidden');
                    button.innerHTML='Cancel';
                } else {
                    form.setAttribute('hidden', true);
                    if (button.name == 'pass') {
                        button.innerHTML='Change password';
                    } else {
                        button.innerHTML='Edit';
                    }
                }
            }
        </script> 
    </body>
</html>